 body {
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
 }
 h1 {
     font-weight: normal;
     font-size: 5em;
     text-align: center;
}

 h2 {
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 20px;
     background-color: #dd9933;
     color: black;
     font-size: 3.5em;
     margin-top: 0;
}
h3 {
  color: black;
  font-size: 3.5em;
}
p {
     font-weight: normal;
     font-size: 1.2em;
}
a {
	text-decoration: none;
	color: #dd9938;
	font-weight: bold;
	font-stretch: extra-expanded;
}
a:visited {
  text-decoration: none;
	color: #c4892f;
	font-weight: bold;
	font-stretch: extra-expanded;
} 
 button {
     width: 100%;
     border: none;
     padding: 10px;
     border-radius: 15px;
     background-color: #fd5800;
 }

 input {
     margin-top:15px;
     margin-bottom:15px;
     padding: 5px;
     width: 100%;
     text-align: center;
 }
 input[type=checkbox] {
   margin-top: 0px;
   margin-bottom: 15px;
   padding: 0px;
   width: auto;


 }
 table{
     width: 100%;
     border-collapse: collapse;
     border: solid 1px black;
 }
 th {
     border: solid 1px black;
     padding-right: 10px;
     padding-left: 10px;
     padding-top: 2px;
     padding-bottom: 2px;
 }
 td {
     border: solid 1px black;
     text-align: center;
     padding-right: 10px;
     padding-left: 10px;
     padding-top: 2px;
     padding-bottom: 2px;
 }
 .nobtn {
     width: auto;
     border: none;
     padding: 0px;
     border-radius: 0px;
     background-color: white;
 }
/* Error */
#errorpag {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 0, 36, 0.7);
  }  
  
  #errorpag .error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .error {
    max-width: 910px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .error .error-x {
    position: relative;
    height: 200px;
  }
  
  .error .error-x h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 220px;
    font-weight: 900;
    margin: 0px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  
  .error h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  .error button.home, .error .btn-contact {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid transparent;
    text-transform: uppercase;
    padding: 13px 25px;
    font-size: 18px;
    border-radius: 40px;
    margin: 7px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .error button.home:hover, .error .btn-contact:hover {
    opacity: 0.9;
  }
  
  .error button.home {
    width: auto;
    color: rgba(255, 0, 36, 0.7);
    background: #fff;
}
  
  .error .btn-contact {
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
  }
/* MENU USUARIO */
  ul#barra-user {
    height: 25px;
    background: black;
    margin-bottom: 0;
    padding-right: 2%;
    color: white;
    line-height: 25px;
  }
  li {
    float: right;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;    
}
li:hover {
  float: right;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;  
  color: black;
  background-color: #dd9933;  
}
/* LOGIN */
body#login {
  background-image: url("/control/img/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


#login h2 {
  text-transform: capitalize;
  padding: 15px;
  margin: 0;
}

.login {
  margin-top: 25vh !important;
  border-radius: 20px;
  padding: 25px;
  margin-top: 25%;
  margin: auto;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
#login input {
  width: 65%;
}

/* USUARIOS */

.usuarios.actual {
    width: 80%;
    margin: auto;
}

form#formulario-nuevo-usuario {
  width: 20%;
  padding: 15px;
  border: 1px solid;
  border-radius: 15px;
  margin-top: 50px;
  margin: 50px auto;
  background-color: white;
}

form#formulario-editar-usuario {
  width: 20%;
  padding: 15px;
  border: 1px solid;
  border-radius: 15px;
  margin-top: 50px;
  margin: 50px auto;
  background-color: white;
}

#accion {
  margin-top: 50px !important;
  width: 50%;
  margin: auto;
}
#pantalla-completa{
  z-index: 100;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100vh;
}